
Material/resources_project_retrofitting_word_vectors.zip
Material/resources_project_retrofitting_word_vectors/__MACOSX/._resources_project_retrofitting_word_vectors
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/._.DS_Store
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/._readme.md
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/._datasets
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/._word_embeddings
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/datasets/._rg65_french.txt
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/datasets/._stanford_sentiment_analysis.tar.gz
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/datasets/._ws353.txt
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/word_embeddings/._.DS_Store
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/word_embeddings/._vecs100-linear-frwiki.zip
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/word_embeddings/._vecs50-linear-frwiki.bz2
Material/resources_project_retrofitting_word_vectors/__MACOSX/resources_project_retrofitting_word_vectors/word_embeddings/._vectors_datatxt_250_sg_w10_i5_c500_gensim_clean.gz
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/.DS_Store
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/datasets/rg65_french.txt
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/datasets/stanford_sentiment_analysis.tar.gz
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/datasets/ws353.txt
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/readme.md
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/word_embeddings/.DS_Store
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/word_embeddings/vecs100-linear-frwiki.zip
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/word_embeddings/vecs50-linear-frwiki.bz2
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/word_embeddings/vectors_datatxt_250_sg_w10_i5_c500_gensim_clean.gz
Work/ppdb-2.0-xl-lexical.gz
Work/wn3.1.dict.tar.gz
Material/resources_project_retrofitting_word_vectors/resources_project_retrofitting_word_vectors/word_embeddings/wn3.1.dict.tar.gz
Work/vectors_datatxt_250_sg_w10_i5_c500_gensim_clean.gz
Work/stanford_sentiment_analysis.tar.gz
Work/ws353.txt
Work/dataset_vect.csv
Work/dataset.csv
Work/sst.csv
Work/ws353_data.csv
Work/ws353_results.csv
